.custom-background {
    background-color: #2A2D34;
    
}
.custom-heading {
  font-family: "Teko", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #D6F6DD;
  text-align: center;
}
.subtitle {
  font-family: 'Ubuntu', sans-serif;
  color: #758ECD;
}

.custom-nav {
  font-family: 'Ubuntu', sans-serif;
}
.custom-nav .navbar-item {
  color: #D6F6DD;
  font-family: "Ubuntu", sans-serif;
}
.custom-nav .navbar-item:hover {
  background-color: #758ECD;
}
.custom-nav .navbar-burger {
  color:#D6F6DD;
}
.custom-nav .navbar-burger:hover {
  color:#758ECD;
}

.custom-button {
  background-color: #D6F6DD;
  color:#2A2D34;
  font-style:italic
}
.custom-button:hover {
  color:#F39A9D;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  width: 45%;
  border-right: .15em solid #FFA500; /* The typwriter cursor */
  white-space:normal;
  margin: 0 auto;
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 45% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.slider-text {
    position: absolute;
    right: 0;
    bottom: 0
  }
  
#slider .card-content{
    max-width: 50%;
  }
  
#slider{
    overflow: hidden;
  }
  
@media screen and (max-width: 1023px) {
    #slider .card-content{
      display: none;
    }
  }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slide img {
  max-width: 1200px;
}

.caption-container {
  color: white;
}
